.container{
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0% 20% 0% 20%;
    border-color: #999999;
    border-style: double;
    border-width: 1px;
    margin-top: 2em;
    padding: 20px;
}
.input{
    width: 90%;
    height: 2.5em;
    font-family: sans-serif;
}
form button{
    background-color:#326DFF;  
    border-color:#326DFF ;
    color:white;
    width: 10%;
    padding-right: 4em;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
.container-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    align-items: baseline;
}
.container-texto{
    display: flex;
    flex-direction: row;
    margin-left: 1em;
}
.container-texto div{
    margin-left: 1em;
}

.container-cambios{
    display: flex;
    flex-direction: row;
}

.container-texto input:checked + div{
    text-decoration: line-through;
}

.container-cambios button:last-of-type{
display: flex;
justify-content: center;
align-items:center;
background-color: #FF5862;
border-radius: 10%;
border-color: #FF5862;
margin-left: 1em;
}
.icon-trash-2{
    font-size: 1.5em;
    color:white;
}

.elemento{
    font-family: sans-serif;
}


@media screen and (max-width:600px) {
    .container{
        margin: 0% 10% 0% 10%;
        
    }
}


@media screen and (max-width:950) {
    .container{
        margin: 0% 50% 0% 50%;
       
    }
    
}
